*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 122, 122);
}

header.landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: grey;
    opacity: 75%;
    text-shadow: 6px 3px 2px rgba(89,89,89,0.63);

    & > nav.nav-logo{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;

        & > img.logo{
            height: 50px;
        }
    }

    & > nav.nav-content{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 4rem;

            & > a.header-content{
                text-decoration: none;
                color: black;
                font-weight: 800;
                font-size: 1rem;
                border: .5 solid black;
                gap: .5rem;
                transition: all .3s ease-in-out;

                &:hover{
                    color: white;
                    background-color: black;
                    border: .5 solid white;
                    box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);
-webkit-box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);
-moz-box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);
                }
    }
}
}

section.card-static{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    & > nav.title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);

        & > h1{
            font-size: 2rem;
            font-weight: 800;
            color: black;
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
        }
    }

    & > h3{
            font-size: 1.5rem;
            font-weight: 800;
            color: rgb(201, 198, 198);
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
    }

    & > nav.card-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);

        & > img.iron{
            height: 40rem;
        }

        & > h3{
            color: rgb(176, 12, 12);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2rem;
            text-shadow: 6px 6px 8px rgba(225, 136, 136, 0.79);
        }

        & > p{
            font-size: 1rem;
            font-weight: 800;
            color: black;
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
        }
    }

    & > nav.card-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);

        & > nav.div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        
        & > img.tanjiro{
            height: 40rem;
        }

        & > nav.tan{
            display: flex;
            flex-direction: column;

            & > h3{
                color: rgb(45, 37, 191);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 2rem;
                text-shadow: 6px 6px 8px rgba(225, 136, 136, 0.79);
            }
        }
    }

        & > p{
            font-size: 1rem;
            font-weight: 800;
            color: black;
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
        }
    }

    & > nav.card-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 1px solid black;
        height: 17rem;
        width: 20rem;
        gap: 1rem;
        box-shadow: 6px 6px 8px 5px rgba(156, 66, 93, 0.79);

        & > nav.mess{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;

            & > i.fa-brands.fa-facebook-messenger{
                color: rgb(78, 78, 234);
                font-size: 3rem;
            }

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(0, 0, 0);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }
        }

        & > nav.buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: .8rem;
            padding: .7rem;

            & > button{
                font-size: 1rem;
                font-weight: 800;
                padding: .4rem;
                border: 1px solid black;
                border-radius: 10px;
                background-color: rgb(78, 78, 234);
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(206, 105, 105, 0.63);
                width: 10rem;
            }
        }

    }

    & > nav.card-4{
        display: flex;
        color: whitesmoke;
        background-color: rgb(0, 0, 0);
        justify-content: space-between;
        width: 20rem;
        height: 30rem;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 6px 6px 8px 5px rgba(255, 255, 255, 0.79);
        flex-direction: row;

        & > nav.topp{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: .8rem;
            padding: 1rem;

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }

            & > i.fa-solid,.fa-diamond{
                color: white;
                font-size: 2rem;
            }
        }

        & > nav.midd{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .8rem;
            padding: 1rem;

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }

            & > i.fa-solid,.fa-diamond{
                color: white;
                font-size: 3rem;
            }
        }

        & > nav.bott{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            gap: .8rem;
            padding: 1rem;

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }

            & > i.fa-solid,.fa-diamond{
                color: white;
                font-size: 2rem;
            }
        }
    }

    & > nav.card-5{
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        background-color: #649DCE;
        padding: 1rem;
        gap: .6rem;

        & > nav.phone{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            height: rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 6px 6px 8px 5px #466f92;

            & > img.item{
                height: 25rem;
            }
        }

        & > nav.name{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;            border: 1px solid black;
            height: 3rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 6px 6px 8px 5px #466f92;
            padding: .6rem;
            

            & > h6{
                font-size: 1.5rem;
                font-weight: 800;
                padding: .4rem;
                border: 1px solid black;
                border-radius: 10px;
                background-color: red;
                color: orange;
                text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
            }
        }

       

        & > button{
                font-size: 1.5rem;
                font-weight: 800;
                padding: .4rem;
                border: 1px solid black;
                border-radius: 10px;
                background-color: orange;
                color: red;
                text-shadow: 6px 3px 2px rgba(206, 105, 105, 0.63);
            }
        
    }
}


section.card-animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    & > nav.title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);

        & > h1{
            font-size: 2rem;
            font-weight: 800;
            color: black;
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
        }
    }

    & > h3{
            font-size: 1.5rem;
            font-weight: 800;
            color: rgb(201, 198, 198);
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
    }

    & > nav.card-1-animation{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);
        transition: all .3s ease-in-out;
        &:hover{
            background-color: red;
        }

        & > img.iron{
            height: 40rem;
            transition: transform .3s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }

        & > h3{
            color: rgb(176, 12, 12);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2rem;
            text-shadow: 6px 6px 8px rgba(225, 136, 136, 0.79);
        }

        & > p{
            font-size: 1rem;
            font-weight: 800;
            color: black;
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
        }
    }

    & > nav.card-2-animation{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.79);

        & > nav.div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        
        & > img.tanjiro{
            height: 40rem;
        }

        & > nav.tan{
            display: flex;
            flex-direction: column;

            & > h3{
                color: rgb(45, 37, 191);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 2rem;
                text-shadow: 6px 6px 8px rgba(225, 136, 136, 0.79);
                animation: move 4s infinite;
            }
        }
    }

        & > p{
            font-size: 1rem;
            font-weight: 800;
            color: black;
            text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
            animation: move1 2s infinite;
        }
    }

    & > nav.card-3-animation{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 1px solid black;
        height: 17rem;
        width: 20rem;
        gap: 1rem;
        box-shadow: 6px 6px 8px 5px rgba(156, 66, 93, 0.79);
        transition: transform .3s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }

        & > nav.mess{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;

            & > i.fa-brands.fa-facebook-messenger{
                color: rgb(78, 78, 234);
                font-size: 3rem;
                transition: all .3s ease-in-out;
                &:hover{
                    color: rgb(212, 98, 191);
                }
            }

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(0, 0, 0);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }
        }

        & > nav.buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: .8rem;
            padding: .7rem;

            & > button{
                font-size: 1rem;
                font-weight: 800;
                padding: .4rem;
                border: 1px solid black;
                border-radius: 10px;
                background-color: rgb(78, 78, 234);
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(206, 105, 105, 0.63);
                width: 10rem;
                transition: all .3s ease-in-out, transform .3s ease-in-out ;
                &:hover{
                    background-color: rgb(212, 98, 191);
                    transform: scale(1.1);
                }
            }
        }

    }

    & > nav.card-4-animation{
        display: flex;
        color: whitesmoke;
        background-color: rgb(0, 0, 0);
        justify-content: space-between;
        width: 20rem;
        height: 30rem;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 6px 6px 8px 5px rgba(255, 255, 255, 0.79);
        flex-direction: row;
        transition: all .3s ease-in-out;
        &:hover{
            transform: rotateZ(360deg);
        }

        & > nav.topp{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: .8rem;
            padding: 1rem;

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }

            & > i.fa-solid,.fa-diamond{
                color: white;
                font-size: 2rem;
                transition: all .3s ease-in-out;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }

        & > nav.midd{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .8rem;
            padding: 1rem;

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }

            & > i.fa-solid,.fa-diamond{
                color: white;
                font-size: 3rem;
                transition: all .3s ease-in-out;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }

        & > nav.bott{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            gap: .8rem;
            padding: 1rem;

            & > h6{
                font-size: 2rem;
                font-weight: 800;
                color: rgb(255, 255, 255);
                text-shadow: 6px 3px 2px rgba(202, 202, 202, 0.63);
            }

            & > i.fa-solid,.fa-diamond{
                color: white;
                font-size: 2rem;
                transition: all .3s ease-in-out;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }
    }

    & > nav.card-5-animation{
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        background-color: #649DCE;
        padding: 1rem;
        gap: .6rem;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: rgb(0, 0, 0);
        }

        & > nav.phone{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            height: rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 6px 6px 8px 5px #466f92;
            animation: color 2s infinite;

            & > img.item{
                height: 25rem;
            }
        }

        & > nav.name{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;            border: 1px solid black;
            height: 3rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 6px 6px 8px 5px #466f92;
            padding: .6rem;
            animation: move 2s infinite;
            

            & > h6{
                font-size: 1.5rem;
                font-weight: 800;
                padding: .4rem;
                border: 1px solid black;
                border-radius: 10px;
                background-color: red;
                color: orange;
                text-shadow: 6px 3px 2px rgba(89,89,89,0.63);
            }
        }

       

        & > button{
                font-size: 1.5rem;
                font-weight: 800;
                padding: .4rem;
                border: 1px solid black;
                border-radius: 10px;
                background-color: orange;
                color: red;
                text-shadow: 6px 3px 2px rgba(206, 105, 105, 0.63);
                animation: bounce 2s infinite;
            }
        
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
    
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes color {
    0% {
        background-color: white;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: white;
    }
}

@keyframes move {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes move1 {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(-30px);
    }
}